/*html,body {
    position:relative;
    margin:0;
    padding:0;
    overflow:auto;
}*/
main
{
    min-height: 80vh;
    
}
/*.footer-row
{
    background-color:#2C3E50 ;
    width:100%;
    bottom: 0px;
    margin-top:50px;
    position:absolute;
}*/
.color
{
    background-color:#2C3E50 ;
    color: white;
    
}
.rating span
{
    padding:0.1rem;
}